.title {
    text-align: center;
}

.book {
    padding: 12px;
}

.book-count {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.book-count-digit {
    padding: 8px 12px;
    background-color: rgb(240, 167, 115);
}

img {
    object-fit: contain;
}